blockquote {
  padding: 1rem 0;

}

blockquote .fa.fa-quote-left,
blockquote .fa.fa-quote-right {
  padding: .6rem;
}

blockquote i.fa,
blockquote cite {
  color: #05E0E9;
}

hr.line {
  margin-top: 2rem;

}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.buttons #votes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#votes button.btn {
  margin: 0 22px;
  border: 0 !important;
  transition: none !important;
}


.card-footer i.fa {
  padding: 0 8px;
  font-size: 1.6rem;
}


blockquote cite {
  font-style: italic;
  font-weight: 500;
}

.card-footer .fa.fa-thumbs-o-up {
  color: #4e1a3d;
}

.card-footer .fa.fa-thumbs-o-down {
  color: #4e1a3d;
}

.card-footer .fa.fa-times {
  color: #ff2768;
  font-size: 1.5rem;
  transform: scale(0.9);
  transition: .6s;
  cursor: pointer;
}

.fa.fa-times:hover {
  transform: scale(1.1);
}
