<div class="card bg-light">
  <!-- <img src="https://lorempixel.com/400/200/people/3" alt="" class="card-img-top img-fluid"> -->
  <div class="card-body">
    <p class="card-text">
      <i class="fa fa-quote-left"></i>
      {{quote._quote}}
    </p>
    <hr class="hr-line">

    <h4 class="card-title">{{quote.author}}</h4>
    <div class="buttons">
      <div id="votes">
        <i class="fa fa-thumbs-o-up">{{quote.upvote}}</i>
        <i class="fa fa-thumbs-o-down">{{quote.downvote}}</i>
      </div>
      <div id="delete">
        <i class="fa fa-times"></i>
      </div>
    </div>

  </div>
</div>
