<app-quotes-form></app-quotes-form>

<section class="container">
  <div *ngFor="let quote of quotes; let i = index">
    <header class="mb-2">
      <h2>{{quote.user}}</h2>
      <small>
        <button class="btn btn-sm btn-dark" (click)="showQuote(i)">
          Toggle Quote <span><i class="fa fa-caret-right"></i></span>
        </button>
      </small>
    </header>

    <app-quotes-details *ngIf="quote.showDescription" [quote]="quote" (likeIsClicked)="onLikeClicked($event,i)"
      (dislikeIsClicked)="onDislikeClicked($event,i)" (deleteIsClicked)="onDelete($event,i)">
    </app-quotes-details>
  </div>

</section>
