<section class="container">
  <app-quotes-form (addQuote)="onAddQuote($event)"></app-quotes-form>


  <div *ngFor="let quote of quotes; let i = index">
    <ul class="list-unstyled list-group ">
      <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
        <a href="/">Quote Submitted by:{{quote.user}}</a>
        <span class="log-date">Submitted:{{quote.date | date}}</span>
        <button class="btn btn-sm btn-dark" (click)="showQuote(i)">
          <i [ngClass]="quote.showDescription ? 'fa fa-minus':'fa fa-plus' "></i>
        </button>
      </li>

    </ul>

    <app-quotes-details *ngIf="quote.showDescription" [quote]="quote" (likeIsClicked)="onLikeClicked($event,i)"
      (dislikeIsClicked)="onDislikeClicked($event,i)" (deleteIsClicked)="onDelete($event,i)">
    </app-quotes-details>
  </div>

</section>
