<section class="container">
  <app-quotes-form (addQuote)="onAddQuote($event)"></app-quotes-form>


  <div *ngFor="let quote of quotes; let i = index" class="mb-2">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="user-info">
          <h4 class="card-title">New Qoute By:{{quote.user}}</h4>
          <small>Posted on: {{quote.date | timeAgo}}</small>
        </div>

        <div class="toggle-btn">
          <button class="btn btn-sm btn-dark" (click)="showQuote(i)">
            <i [ngClass]="quote.showDescription ? 'fa fa-minus':'fa fa-plus' "></i>
          </button>
        </div>
      </div><!-- card-header -->

      <app-quotes-details *ngIf="quote.showDescription" [quote]="quote" (likeIsClicked)="onLikeClicked($event,i)"
        (dislikeIsClicked)="onDislikeClicked($event,i)" (deleteIsClicked)="onDelete($event,i)">
      </app-quotes-details>

    </div>
    <!--card- -->
  </div>

</section>
