<div class="narrow mb-4">
  <button class="btn btn-sm btn-dark mb-2" (click)="this.showForm = !this.showForm">Add Quote</button>
  <form *ngIf="showForm" (ngSubmit)="submitQuote(quoteForm)" #quoteForm="ngForm">
    <div class="form-group">
      {{newQuote.author}}
      <label for="author_input">Author</label>
      <input type="text" name="author_input" [ngClass]="{'is-invalid': author_input.errors && author_input.touched}"
        [(ngModel)]="newQuote.author" #author_input='ngModel' required class="form-control">
      <div class="invalid-feedback" [hidden]="!author_input.errors?.required">
        <p>First Name Required</p>
      </div>
    </div>
    <div class="form-group">
      {{newQuote._quote}}
      <label for="quote_input">Quote</label>
      <textarea type="text" required class="form-control" rows="4" [(ngModel)]="newQuote._quote" name="quote_input"
        #quote_input></textarea>
    </div>
    <div class="form-group">
      {{newQuote.date}}
      <label for="date_input">Date</label>
      <input type="date" required class="form-control" [(ngModel)]="newQuote.date" name="date_input" #date_input>
    </div>
    <div class="form-group">
      {{newQuote.user}}
      <label for="user_input">Submitted By</label>
      <input type="text" required class="form-control" [(ngModel)]="newQuote.user" name="user_input" #user_input>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!quoteForm.valid">Submit Quote</button>
  </form>
</div>
